.about {
    display: flex;
    padding-bottom: 80px;
}
.about__photo {
    margin: 80px 56px 0 104px;
    border-radius: 50%;
    width: 464px;
    height: 464px;
    object-fit: cover;
}
.about__container {
    display: flex;
    flex-direction: column;
    color: #1A1B22;
    max-width: 600px;
    margin: 131px auto auto 0;
}
.about__heading {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
}
.about__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 24px 0 0;
}
@media screen and (max-width: 1250px) {
    .about__container {
        margin: 131px 20px auto 0;
    }
}
@media screen and (max-width: 1000px) {
    .about__photo {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 768px) {
    .about {
        padding-bottom: 61px;
    }
    .about__photo {
        margin: 61px 32px 0 40px;
        width: 232px;
        height: 232px;
    }
    .about__container {
        max-width: 424px;
        margin: 40px auto auto 0;
    }
    .about__heading {
        font-size: 30px;
        line-height: 40px;
    }
    .about__description {
        margin: 16px 0 0;
    }
}
@media screen and (max-width: 740px) {
    .about__container {
        margin: 24px 15px auto 0;
    }
}
@media screen and (max-width: 635px) {
    .about {
        flex-direction: column;
    }
    .about__photo {
        margin: 32px auto 0;
        width: 272px;
        height: 272px;
    }
    .about__heading {
        margin: 0 auto;
    }
    .about__container {
        max-width: 500px;
        margin: 24px 20px auto;
        align-self: center;
    }
}
@media screen and (max-width: 320px) {
    .about {
        padding-bottom: 80px;
    }
    .about__photo {
        margin: 32px 24px 0;
    }
    .about__heading {
        margin: 0;
    }
    .about__container {
        max-width: 288px;
        margin: 24px auto auto;
    }
}