.header {
    display: flex;
    justify-content: space-between;
    padding: 0 104px 0;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
.header_black {
    box-shadow: inset 0px -1px 0px #D1D2D6;
}
.header__logo {
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    align-self: center;
    text-decoration: none;
    color: #FFFFFF;
}
.header__logo_black {
    color: #1A1B22;    
}
.header__burger-menu-button {
    display: none;
    align-self: center;
    width: 24px;
    height: 24px;
}
.header__burger-menu-button:hover {
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .header {
        padding: 0 80px 0;
    }
}
@media screen and (max-width: 850px) {
    .header {
        padding: 0 60px 0;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 0 40px 0;
    }
}
@media screen and (max-width: 630px) {
    .header {
        min-height: 56px;
        padding: 0 16px 0;
    }
    .header__logo {
        font-size: 16px;
    }
    .header__burger-menu-button {
        display: block;
    }
}